{% extends "base.html" %}

{% block cuerpo %}

<div class="row"> <!-- Fila en editar-->
    <div class="col-md-4 offset-md-4">
        <h2>Editar Pedido</h2>
        <!-- Aquí codigo tarjeta -->

        <div class="card"> <!-- La tarjeta -->
            <div class="card-body">
                <form action="/editarPedido/" method="POST"> {% csrf_token %} <!-- Falta action -->
                    <div class="form-group py-2">
                        <input type="text" id="idpedido" name="idpedido" class="form-control" value="{{misPedido.id_pedido}}" minlength="1" maxlength="6" readonly required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="numidcliente" name="numidcliente" class="form-control" value="{{misPedido.id_cliente}}" maxlength="100" required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="txtfechapedido" name="txtfechapedido" class="form-control" value="{{misPedido.fecha_pedido}}" maxlength="100" required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="txttotalpedido" name="txttotalpedido" class="form-control" value="{{misPedido.total_pedido}}" maxlength="10" required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="numestadopedido" name="numestadopedido" class="form-control" value="{{misPedido.estado_pedido}}" minlength="1" maxlength="50" required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="txtmetodopago" name="txtmetodopago" class="form-control" value="{{misPedido.metodo_pago}}" minlength="1" maxlength="100" required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="txtdireccionenvio" name="txtdireccionenvio" class="form-control" value="{{misPedido.direccion_envio}}" maxlength="100" required>
                    </div>

                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-dark">Guardar Pedido</button>
                    </div>
                </form>
            </div>
        </div> <!-- La tarjeta -->

        <!-- Aquí codigo tarjeta -->
    </div> 
</div> <!-- Fila en editar-->

{% endblock %}