{% extends "base.html" %}

{% block cuerpo %}

<div class="row"> <!-- Fila en editar-->
    <div class="col-md-4 offset-md-4">
        <h2>Editar Promocion</h2>
        <!-- Aquí codigo tarjeta -->

        <div class="card"> <!-- La tarjeta -->
            <div class="card-body">
                <form action="/editarPromocion/" method="POST"> {% csrf_token %} <!-- Falta action -->
                    <div class="form-group py-2">
                        <input type="text" id="numidpromocion" name="numidpromocion" class="form-control" value="{{mispromocion.id_promocion}}" minlength="1" maxlength="6" readonly required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="txtdescripcion" name="txtdescripcion" class="form-control" value="{{mispromocion.descripcion}}" maxlength="100" required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="txtfechainicio" name="txtfechainicio" class="form-control" value="{{mispromocion.fecha_inicio}}" maxlength="100" required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="txtfechafin" name="txtfechafin" class="form-control" value="{{mispromocion.fecha_fin}}" maxlength="10" required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="numdescuento" name="numdescuento" class="form-control" value="{{mispromocion.descuento}}" minlength="1" maxlength="50" required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="txtproductosaplicados" name="txtproductosaplicados" class="form-control" value="{{mispromocion.productos_aplicados}}" minlength="1" maxlength="100" required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="txtcondiciones" name="txtcondiciones" class="form-control" value="{{mispromocion.condiciones}}" maxlength="100" required>
                    </div>

                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-dark">Guardar Promocion</button>
                    </div>
                </form>
            </div>
        </div> <!-- La tarjeta -->

        <!-- Aquí codigo tarjeta -->
    </div> 
</div> <!-- Fila en editar-->

{% endblock %}