{% extends "base.html" %}

{% block cuerpo %}

<div class="row"> <!-- Fila en editar-->
    <div class="col-md-4 offset-md-4">
        <h2>Editar Empleado</h2>
        <!-- Aquí codigo tarjeta -->

        <div class="card"> <!-- La tarjeta -->
            <div class="card-body">
                <form action="/editarEmpleado/" method="POST"> {% csrf_token %} <!-- Falta action -->
                    <div class="form-group py-2">
                        <input type="text" id="numidempleado" name="numidempleado" class="form-control" value="{{misempleado.id_empleado}}" minlength="1" maxlength="6" readonly required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="numidventas" name="numidventas" class="form-control" value="{{misempleado.id_ventas}}" maxlength="100" required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="txtnombre" name="txtnombre" class="form-control" value="{{misempleado.nombre}}" maxlength="100" required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="numtelefono" name="numtelefono" class="form-control" value="{{misempleado.telefono}}" maxlength="10" required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="txtsexo" name="txtsexo" class="form-control" value="{{misempleado.sexo}}" minlength="1" maxlength="50" required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="txtcorreo" name="txtcorreo" class="form-control" value="{{misempleado.correo}}" minlength="1" maxlength="100" required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="txtturno" name="txtturno" class="form-control" value="{{misempleado.turno}}" maxlength="100" required>
                    </div>

                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-dark">Guardar Empleado</button>
                    </div>
                </form>
            </div>
        </div> <!-- La tarjeta -->

        <!-- Aquí codigo tarjeta -->
    </div> 
</div> <!-- Fila en editar-->

{% endblock %}